WebSite1/App_WebReferences/ref1/Dataret.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Getdata">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codes" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetdataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetdataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Putdata">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="n" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="e" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="g" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PutdataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PutdataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="i" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="n" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="e" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="g" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="i" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DelDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetdataSoapIn">
    <wsdl:part name="parameters" element="tns:Getdata" />
  </wsdl:message>
  <wsdl:message name="GetdataSoapOut">
    <wsdl:part name="parameters" element="tns:GetdataResponse" />
  </wsdl:message>
  <wsdl:message name="PutdataSoapIn">
    <wsdl:part name="parameters" element="tns:Putdata" />
  </wsdl:message>
  <wsdl:message name="PutdataSoapOut">
    <wsdl:part name="parameters" element="tns:PutdataResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDataSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateData" />
  </wsdl:message>
  <wsdl:message name="UpdateDataSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDataResponse" />
  </wsdl:message>
  <wsdl:message name="DelDataSoapIn">
    <wsdl:part name="parameters" element="tns:DelData" />
  </wsdl:message>
  <wsdl:message name="DelDataSoapOut">
    <wsdl:part name="parameters" element="tns:DelDataResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetdataHttpGetIn">
    <wsdl:part name="codes" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetdataHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="PutdataHttpGetIn">
    <wsdl:part name="n" type="s:string" />
    <wsdl:part name="e" type="s:string" />
    <wsdl:part name="p" type="s:string" />
    <wsdl:part name="g" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PutdataHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UpdateDataHttpGetIn">
    <wsdl:part name="i" type="s:string" />
    <wsdl:part name="n" type="s:string" />
    <wsdl:part name="e" type="s:string" />
    <wsdl:part name="p" type="s:string" />
    <wsdl:part name="g" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateDataHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DelDataHttpGetIn">
    <wsdl:part name="i" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DelDataHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetdataHttpPostIn">
    <wsdl:part name="codes" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetdataHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="PutdataHttpPostIn">
    <wsdl:part name="n" type="s:string" />
    <wsdl:part name="e" type="s:string" />
    <wsdl:part name="p" type="s:string" />
    <wsdl:part name="g" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PutdataHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UpdateDataHttpPostIn">
    <wsdl:part name="i" type="s:string" />
    <wsdl:part name="n" type="s:string" />
    <wsdl:part name="e" type="s:string" />
    <wsdl:part name="p" type="s:string" />
    <wsdl:part name="g" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateDataHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DelDataHttpPostIn">
    <wsdl:part name="i" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DelDataHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="DataretSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Getdata">
      <wsdl:input message="tns:GetdataSoapIn" />
      <wsdl:output message="tns:GetdataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Putdata">
      <wsdl:input message="tns:PutdataSoapIn" />
      <wsdl:output message="tns:PutdataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateData">
      <wsdl:input message="tns:UpdateDataSoapIn" />
      <wsdl:output message="tns:UpdateDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DelData">
      <wsdl:input message="tns:DelDataSoapIn" />
      <wsdl:output message="tns:DelDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DataretHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Getdata">
      <wsdl:input message="tns:GetdataHttpGetIn" />
      <wsdl:output message="tns:GetdataHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Putdata">
      <wsdl:input message="tns:PutdataHttpGetIn" />
      <wsdl:output message="tns:PutdataHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateData">
      <wsdl:input message="tns:UpdateDataHttpGetIn" />
      <wsdl:output message="tns:UpdateDataHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DelData">
      <wsdl:input message="tns:DelDataHttpGetIn" />
      <wsdl:output message="tns:DelDataHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DataretHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Getdata">
      <wsdl:input message="tns:GetdataHttpPostIn" />
      <wsdl:output message="tns:GetdataHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Putdata">
      <wsdl:input message="tns:PutdataHttpPostIn" />
      <wsdl:output message="tns:PutdataHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateData">
      <wsdl:input message="tns:UpdateDataHttpPostIn" />
      <wsdl:output message="tns:UpdateDataHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DelData">
      <wsdl:input message="tns:DelDataHttpPostIn" />
      <wsdl:output message="tns:DelDataHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DataretSoap" type="tns:DataretSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getdata">
      <soap:operation soapAction="http://tempuri.org/Getdata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Putdata">
      <soap:operation soapAction="http://tempuri.org/Putdata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateData">
      <soap:operation soapAction="http://tempuri.org/UpdateData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelData">
      <soap:operation soapAction="http://tempuri.org/DelData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DataretSoap12" type="tns:DataretSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getdata">
      <soap12:operation soapAction="http://tempuri.org/Getdata" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Putdata">
      <soap12:operation soapAction="http://tempuri.org/Putdata" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateData">
      <soap12:operation soapAction="http://tempuri.org/UpdateData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelData">
      <soap12:operation soapAction="http://tempuri.org/DelData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DataretHttpGet" type="tns:DataretHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getdata">
      <http:operation location="/Getdata" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Putdata">
      <http:operation location="/Putdata" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateData">
      <http:operation location="/UpdateData" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelData">
      <http:operation location="/DelData" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DataretHttpPost" type="tns:DataretHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getdata">
      <http:operation location="/Getdata" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Putdata">
      <http:operation location="/Putdata" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateData">
      <http:operation location="/UpdateData" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelData">
      <http:operation location="/DelData" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Dataret">
    <wsdl:port name="DataretSoap" binding="tns:DataretSoap">
      <soap:address location="http://dracarys:8080/Dataret.asmx" />
    </wsdl:port>
    <wsdl:port name="DataretSoap12" binding="tns:DataretSoap12">
      <soap12:address location="http://dracarys:8080/Dataret.asmx" />
    </wsdl:port>
    <wsdl:port name="DataretHttpGet" binding="tns:DataretHttpGet">
      <http:address location="http://dracarys:8080/Dataret.asmx" />
    </wsdl:port>
    <wsdl:port name="DataretHttpPost" binding="tns:DataretHttpPost">
      <http:address location="http://dracarys:8080/Dataret.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>